Biodigestor/obj/
.vs
Biodigestor/bin
.vs/ProjectEvaluation/proyecto_biodigestor_backend.metadata.v7.bin
.vs/ProjectEvaluation/proyecto_biodigestor_backend.projects.v7.bin
.vs/Proyecto_Biodigestor_Backend/DesignTimeBuild/.dtbcache.v2
.vs/Proyecto_Biodigestor_Backend/v17/.futdcache.v2
.vs/Proyecto_Biodigestor_Backend/v17/.suo
.vs/Proyecto_Biodigestor_Backend/v17/DocumentLayout.json
Biodigestor/bin/Debug/net8.0/Biodigestor.dll
Biodigestor/bin/Debug/net8.0/Biodigestor.exe
Biodigestor/bin/Debug/net8.0/Biodigestor.pdb
Biodigestor/obj/Debug/net8.0/Biodigestor.csproj.CoreCompileInputs.cache
Biodigestor/obj/Debug/net8.0/Biodigestor.csproj.FileListAbsolute.txt
Biodigestor/obj/Debug/net8.0/Biodigestor.dll
Biodigestor/obj/Debug/net8.0/Biodigestor.pdb
Biodigestor/obj/Debug/net8.0/Biodigestor.sourcelink.json
Biodigestor/obj/Debug/net8.0/apphost.exe
Biodigestor/obj/Debug/net8.0/ref/Biodigestor.dll
Biodigestor/obj/Debug/net8.0/refint/Biodigestor.dll